body {
  font-family: Arial;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

header {
  width: 1180px;
  background-color: #445161;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

nav {
  width: 55%;
}

nav span {
  font-size: 60px;
  font-weight: 400;
}

header ul {
  list-style-image: url(img/check%20icon.svg);
  margin-bottom: 0;
}

header a {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
  /*убрать линию ссылки*/
  color: #ffffff;
  /* Цвет ссылок */
}

header a:visited {
  color: #ffffff;
  /* Цвет посещенных ссылок */
}

header a:active {
  color: #ececec;
  text-decoration: underline;
  /* Цвет активных ссылок */
}

header a:hover {
  color: #989898;
}

/*основной блок*/
main {
  width: 1280px;
  margin: 0 auto;
}

section {
  padding: 50px;
}

/*Блок о продукте*/
.aboutpr {
  display: flex;
  justify-content: space-between;
}

.aboutpr span {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
}

.aboutpr p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 90px 0 0;
}

/*Блок плюсы продукта*/
.dignitypr {
  background-color: #f5f5f5;
}

.heading {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  display: block;
  text-align: center;
}

.dignitypr div {
  display: flex;
  justify-content: space-between;
}

.dignitypr ul {
  list-style-type: none;
  padding: 7px 0 0 0;
}

.dignitypr ul li {
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: url('img/plus%20icon.svg') 0px 5px no-repeat;
}

/*Блок Скриншотов*/
.scrinshots div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scrinshots figure {
  width: 590px;
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}

.scrinshots img {
  margin-right: 15px;
}

.scrinshots span {
  color: #445161;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}

.scrinshots p {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 15px;
}

/*Блок Отзывы*/
.reverws {
  background-color: #f5f5f5;
}

.reverws .users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reverws article {
  width: 590px;
  display: flex;
  margin-top: 25px;
}

.user {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  background-color: #445161;
}

.blockquote {
  background-color: #ececec;
  padding: 15px;
  margin-left: 30px;
  position: relative;
  /*Для блока треугольник*/
  border-radius: 5px;
}

.reverws blockquote {
  width: 440px;
  margin: 0;
  color: #333333;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

.blockquote span {
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #ececec;
  border-bottom: 15px solid transparent;
  display: inline;
  position: absolute;
  top: 15px;
  left: -15px;
}

/*Блок покупай сейчас*/
.box_buy {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.buy {
  width: 300px;
  background-color: #425062;
  margin: 20px;
  border: solid;
  border-width: 2px;
  border-color: #425062;
  border-radius: 5px;
}

.buy span {
  color: #ffffff;
  padding: 10px;
  font-size: 24px;
}

.buyitnow p {
  color: #445162;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 18px;
}

.buyitnow li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 15px;
}

.buyitnow a {
  color: #445161;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  padding: 10px;
  margin: 0 20px 15px;
  background-color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.buyitnow a:hover {
  background-color: #989898;
}

.buyitnow a:active {
  color: #fff;
}

/*подвал сайта*/
/*форма для сообщений*/
main footer {
  background-color: #445162;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

footer .heading {
  color: #fff;
  width: 1080px;
}

footer form {
  width: 500px;
  padding-top: 30px;
  margin-right: 45px;
}

footer input[type="text"],
footer input[type="email"] {
  width: 480px;
  border: none;
  border-radius: 5px;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px;
  margin-bottom: 21px;
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #445162;
}

input[type="text"]:-ms-input-placeholder {
  color: #445162;
}

input[type="text"]::-ms-input-placeholder {
  color: #445162;
}

input[type="text"]::placeholder {
  color: #445162;
}

input[type="email"]::-webkit-input-placeholder {
  color: #445162;
}

input[type="email"]:-ms-input-placeholder {
  color: #445162;
}

input[type="email"]::-ms-input-placeholder {
  color: #445162;
}

input[type="email"]::placeholder {
  color: #445162;
}

footer textarea {
  width: 480px;
  height: 155px;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-radius: 5px;
  resize: none;
  padding: 8px;
  margin-bottom: 17px;
  outline: none;
}

footer textarea::-webkit-input-placeholder {
  color: #445162;
}

footer textarea:-ms-input-placeholder {
  color: #445162;
}

footer textarea::-ms-input-placeholder {
  color: #445162;
}

footer textarea::placeholder {
  color: #445162;
}

footer input[type="submit"] {
  color: #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 8px 48px;
  outline: none;
}

footer input[type="submit"]:hover {
  background-color: #989898;
}

footer input[type="submit"]:active {
  color: #fff;
}

/*контактные данные*/
footer address {
  width: 250px;
  padding-top: 30px;
}

.address a {
  background-repeat: no-repeat;
  display: block;
  word-break: break-all;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
  text-align:left;
  margin-bottom: 18px;
  padding: 0 0 3px 30px;
}

.address a:visited {
  color: #ffffff;
}

.address a:active {
  color: #ececec;
  text-decoration: underline;
}

.address a:hover {
  color: #989898;
}

#icon_skype {
  background-image: url(img/skype%20icon.svg);
}

#icon_icq {
  background-image: url(img/icq%20icon.svg);
}

#icon_email {
  background-image: url(img/email%20icon.png);
}

#icon_phone {
  background-image: url(img/phone%20icon.svg);
}

/*класс месенджеры*/
.messengers {
  margin-top: 35px;
}

.messengers a {
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
  display: inline-block;
}

#icon_twitter {
  background-image: url(img/icon_twitter.png);
}

#icon_facebook {
  background-image: url(img/icon_facebook.png);
}

#icon_instagram {
  background-image: url(img/icon_instagram.png);
}

#icon_google {
  background-image: url(img/icon_google.png);
}

#icon_youtube {
  background-image: url(img/icon_youtube.png);
}

footer {
  color: #445162;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  background-color: #f5f5f5;
  text-align: center;
}
